extends layout

block content
  h1(style="text-align: center;")= "Welcome to"
  div
    include ../public/images/enviroSense_wort_und_logo_opti.svg
  form(action="", method="post")
   input(type="text")
  p Schreib was rein!